@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
        url('../fonts/opensans-regular-webfont.woff') format('woff'),
        url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
        url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
        url('../fonts/opensans-semibold-webfont.woff') format('woff'),
        url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
        url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-light-webfont.woff2') format('woff2'),
        url('../fonts/opensans-light-webfont.woff') format('woff'),
        url('../fonts/opensans-light-webfont.ttf') format('truetype'),
        url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
        url('../fonts/opensans-bold-webfont.woff') format('woff'),
        url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
        url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


body{
    background-color: #ffffff;
    font-family: 'open_sansregular', arial, sans-serif;
    font-size: 14px;
    color: #2f3139;
}
a {color: #2f3139;}
a:hover {text-decoration: none;}
h2 {text-transform: uppercase; font-size: 14px; font-family: 'open_sanssemibold'; font-weight: normal;}
.footer {background-color: #3a3b3c; text-align: right; color: #c2c2c2; line-height: 4; font-family: 'open_sanslight'; font-size: 12px;
         margin-top: 100px;}
.logo {text-align: center; margin: 5% auto 2% auto; }
.login-box{
    position:relative;
    margin: 0 auto;
    width: 400px;
    height: auto;
    background-color: #f5f5f5;
    padding: 0 0 40px 0;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}
.lb-header{
    position:relative;
    color: #312f2e;
    margin:0 0 30px 0;
    padding-bottom:10px;
    border-bottom: 1px solid #eee;
    text-align:center;
    background-color: #ffffff;
    height: 50px;
    width: 100%;
}
.lb-header div div{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #312f2e;
    font-family: 'open_sanssemibold';
    font-size: 14px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
    text-transform: uppercase;
    line-height: 3;
    cursor: pointer;
}
.lb-header .active{
    background-color: #f5f5f5;
    font-size: 14px;
    border-top: 4px solid #e41c12;
    width: 100%;
    height: 50px;
}
.content-form {padding: 0 30px; text-align: left;}
.email-login,.email-signup{
    position:relative;
    float: left;
    width: 100%;
    height:auto;
    margin: 0 auto;

}
.email-signup {display: none;}
.input-group-addon {background-color: #909090; border: 0; color: #ffffff;}
.form-control {border: 1px solid #eae8e8;}
label {margin-top: 10px; font-family: 'open_sanslight'; color: #5f5d64; font-weight: normal; }
.forgetpass a { text-decoration: underline; color: #a0a0a0; font-family: 'open_sanslight';}
.forgetpass {width: 100%; text-align: center;}
.btn-login {width: 100%; background-color: #e41c12; border-radius: 4px; 
            -moz-box-shadow: inset 0 -4px 1px #be0301;
            -webkit-box-shadow: inset 0 -4px 1px #be0301;
            box-shadow: inset 0 -4px 1px #be0301;
            color: #ffffff;
            line-height: 2.5;
            text-transform: uppercase;
            margin: 26px 0 4px 0; 
            text-align: center;
            letter-spacing: .5px;
            cursor: pointer;
}
.btn-login:hover {color: #f8caca; background-color: #b51a12; }
.goto-register {font-family: 'open_sanslight'; text-align: center; }
.goto-register span {font-family: 'open_sanssemibold'; text-decoration: underline;}
.goto-register a {color: #3c3a39; }
.box-btn {float: left; width: 50%;}
.navbar-brand {padding: 6px 0;}
.navbar-brand img {width: 100px;}
.nav .dropdown-menu {width: 230px; padding: 0;}
.nav .dropdown-menu li {border-bottom: 1px solid #f1f1f1; }
.nav .dropdown-menu i {float: right; width: 20px; margin-top: 4px;}
.nav .dropdown-menu>li>a {padding: 16px 20px; font-family: 'open_sanslight'; font-size: 12px;}
.nav {color: #5f5d64; font-family: 'open_sanssemibold'; text-transform: uppercase; font-size: 12px; letter-spacing: .5;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {color: #ffdfdf; background-color: #ca1a1a; }
.navbar-default {background-color: #ffffff;}
.navbar-default .navbar-nav>li>a {color: #ffffff; font-family: 'open_sansregular';}
.navbar-default .navbar-nav>li>a:hover {color: #fdd1d1;}
/* search */
.search {background-color: #f4f4f4; padding: 30px 0;}
.navbar {margin-bottom: 0; background-color: #e31818;}
.btn-default {color: #878787; border: 1px solid #eae8e8}
.campos-form .btn-default {color: #333;}
.search .caret{margin-left: 50px;}
.search .input-group {width: 100%;}
.search .btn-login {margin: 0;}

/*pedidos*/
.pedidos-box {border: 1px solid #5f5d64;}
a .pedidos-box {color: #2f2f30; padding: 10px;}
a .pedidos-box p {margin: 0;}
.articulos-list {padding: 0; list-style: none;}
.articulos h2 {margin-left: 1%;}
.articulos-list li {width: 18%; margin: 1%; float: left;}
.articulos-list img {width: 100%;}
.articulos-list p {text-align: right; color: #7c7c7c; text-transform: capitalize;}
.articulos-list li a:hover {opacity: .4;}

/*menu clientes*/
.carrito {border: 1px solid #ffffff; border-radius: 100px; -moz-border-radius: 100px; -webkit-border-radius: 100px;
          position: relative;
          width: 40px; height: 40px;
          margin-top: 4px;}
.carrito i {font-size: 26px; text-align: center;}
.navbar-nav>li.carrito>a {padding: 6px; }
.carrito .badge {position: absolute; bottom: 0;
                 right: -6px; z-index: 10; background-color: #ffffff;
                 font-family: 'open_sanssemibold';
                 line-height: 1.3;
                 color: #e31818;
}


/*lista*/
.list-image img {width: 100%;}
.list-image {width: 50px;}
tr:hover {background-color: #efefef!important;}
tr.selecter-product-list {background-color: #aaaaaa!important; color: #ffffff;}
.table {margin-top: 20px;}
.pagination {float: right;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #e41b13; border-color: #e41b13;
}
.pagination>li>a, .pagination>li>span {color: #353535;}


/*comprar*/
.buy .producto-imagen, .buy li {position: relative;}
.buy .buy-btn {position: absolute; bottom: 10px; right: 10px; background-color: #e41b13; color: #ffffff; text-align: center;
               border-radius: 4px; line-height: 2.5; padding: 0 10px; z-index: 10; font-size: 10px;}
.buy .producto-imagen:hover img, .agregado-carrito img {border: 2px solid #e41b13; }
.agregar {position: absolute; font-size: 40px; color: #e41b13; top: 20%; right: 35%; z-index: 20; border: 1px solid #e41b13;
          border-radius: 100px; width: 55px; height: 55px; text-align: center; display: none; cursor: pointer;}
.buy li:hover .agregar {display: block;}
.buy li:hover .buy-btn {display: none;}
.buy p {margin: 0;}
.table a.editbtn {color: #88868b; }
a.editbtn i {width: 30px; height: 30px; border: 1px solid #cccccc; 
             border-radius: 100px; font-size: 20px; text-align: center; 
             line-height: 1.4;}
.table a.editbtn:hover {color: #e31b13; }
.goto {width: 25%; float: right; margin: 20px 0;}
.wrong {color: #e31b13;}
.ok {color: #25dc36;}
.nav-pills {margin-top: 20px;}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {background-color: #ffffff; color: #e31b13; border: 1px solid #e31b13;}


/* carga producto */
.campos-form {margin-top: 20px;}
.campos-form div {width: 100%;}
.campos-form .dropdown .btn {width: 100%; text-align: left;}

/* producto */
.imagen-producto {width: 40% !important; margin: 0 auto;}
.imagen-producto img {width: 100%;}
.campos-form li span {font-weight: bold; margin-right: 4px;}
.opciones-btn {margin-top: 30px;  }
.opciones-btn a {width: 49.5%;}
.aviso a {color: #da071a; text-decoration: underline;}


.grey, .grey table {background-color: #fbfbfb; }
.table-condensed tr:nth-child(1) {font-family: 'open_sansbold'; border-top: 0;}
.table-condensed tr:hover {background-color:#fbfbfb !important; }
.total {text-align: right; border-top: 1px solid #cccccc;}
.btn-login.min {width: 30%; float: right;}

.mensaje {margin: 22% auto; text-align: center;}
.modal-body, .modal-header, .modal-footer {border: 0;}
.modal-body .content-form input {width: 100%;}

.select-options {color: #878787;
                 border: 1px solid #eae8e8;
                 background-color: #fff;
                 display: inline-block;
                 padding: 6px 12px;
                 margin-bottom: 0;
                 font-size: 14px;
                 font-weight: 400;
                 line-height: 1.42857143;
                 text-align: center;
                 white-space: nowrap;
                 vertical-align: middle;
                 -ms-touch-action: manipulation;
                 touch-action: manipulation;
                 cursor: pointer;
                 -webkit-user-select: none;
                 -moz-user-select: none;
                 -ms-user-select: none;
                 user-select: none;
                 background-image: none;
                 border: 1px solid transparent;
                 border-radius: 4px;
                 height: 34px;
}

#passwordforgotten h4 {text-align: center;}
#passwordforgotten .btn-login {width: 90%; margin: 6% auto;}
p.min{
    color: #848181; width: 100%; text-align: center;
}

.modal-footer .btn-primary {background: #e41c12; border: 0;}
#popup-confirmacion .modal-dialog {width: 90%;}